@charset "utf-8";

/** @section Typo */
@font-face {
    font-family: Manrope;
    src: url("fonts/Manrope-VariableFont_wght.woff2") format(woff2) tech(variations);
    font-style: normal;
    font-weight: 500 700;
    font-display: swap;
}
